mbody {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 50px;
}

.login-container, .container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    button:active {
    transform: scale(0.95); /* Làm nút nhỏ lại khi nhấn */
}
.container {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}







